.food-search-container {
  height: 50vh;
  background-image: url("https://images.weserv.nl/?url=https://zeplins.netlify.app/public/img/background/food-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3rem;
}

.banner-head-txt {
  font-size: 4.2rem;
}

.food-banner-text {
  font-size: 2rem;
  font-weight: 500;
}

.input-w {
  width: 36%;
}

.input {
  outline: none;
  border: 0;
}
.optionlist {
  margin-top: 2px;
  background: #ffff;
  color: black;
  width: 36%;
  border-radius: 5px;
  height: 10rem;
  padding: 6px 1rem;
  overflow-y: scroll;
}

.optionlist ::-webkit-scrollbar {
  width: 12px;
}
.optionlist ::-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}
.menubtn {
  position: relative;
  cursor: pointer;
}

.ico {
  position: absolute;
  left: -2.3rem;
  color: black;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 760px) {
  .input-w {
    width: 80%;
  }

  .food-banner-text {
    font-size: 1.5em;
  }

  .optionlist {
    width: 80%;
  }
}

@media screen and (min-width: 330px) and (max-width: 560px) {
  .food-search-container {
    height: 50vh;
    padding-top: 2em;
  }
  .food-banner-text {
    font-size: 1.3em;
  }

  .banner-head-txt {
    font-size: 3.2em;
  }
}
